@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.bordered {
    border: 2px solid black;
}

.danger {
    color: red;
}

.container {
    min-width: 85%;
}


.float{
    font-size: 18px;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

.nav-wrapper {
    background-color: #FFF;
}

div ul li a {
    color: black;
}

div u li {
    margin-right: 50px;
}

.right {
    margin-right: 150px;
}

.logo {
    font-weight: 550;
    color: #222 !important;
    margin-left: 150px;
}

form {
    margin: auto;
    width: 75%;
}

.add-recipe-form {
    margin-top: 2.5rem;
}

.form-input-smaller {
    width: 90%;
    margin: 0 auto;
}

.remove_field {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.add_field_button {
    width: 60px;
}

.fa-times-circle {
    color: black;
}

.form_buttons {
    margin-top: 10vh;
}
.btn {
    border-radius: 25px;
}

.margin-top-5vh {
    margin-top: 5vh;
}

.margin-bottom-5vh {
    margin-bottom: 5vh;
}

a, a:hover, a:visited {
    color: black;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}