{% extends "base.html" %}

{% block content %}

<div class="container form-container">
    <div class="row margin-bottom-5vh">
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s10 offset-s1 l8 offset-l2 add-recipe-form"> <!-- {{ url_for('insert_recipe') }} -->
            <div class="row">

                <h5>Add recipe</h5>
                <hr style="margin-bottom: 1.5rem;">

                <div class="form-input-smaller">

                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" placeholder="Title">

                    <label for="title">Description</label>
                    <input type="text" id="description" name="description" placeholder="Description">

                    <label for="image">Image</label>
                    <input type="text" id="image" name="image" placeholder="Image">

                    <label for="textarea1">Method</label>
                    <textarea id="method" name="method" class="materialize-textarea" placeholder="Method"></textarea>

                    <div class="ingredient_container">
                        <label for="title">Main Ingredients</label>
                        <input type="text" id="ingredient" name="ingredient" placeholder="Main Ingredient">

                        <div class="input_fields_wrap">
                            <a class="add_field_button btn waves-effect waves-light btn-small"><i class="fa fa-plus"></i></a>
                        </div>

                    </div>
                    

                    <div class="input-field col s12">
                        <div class="col s6 l3 input-field" id="recipe_meal">
                            <select class="form-control browser-default" id="meal" name="meal" required>
                                {% for meal in meals %}
                                <option value="{{meal.meal}}">{{meal.meal}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col s6 l3 input-field">
                            <label for="serves">Serves</label>
                            <input type="number" id="serves" name="serves">
                        </div>
                        <div class="col s6 l3 input-field">
                            <label for="serves">Cooking time</label>
                            <input type="number" id="cooking_time" name="cooking_time">
                        </div>
                        <div class="col s6 l3 input-field">
                            <label for="serves">Prep time</label>
                            <input type="number" id="prep_time" name="prep_time">
                        </div>
                    </div>

                    <div class="form_buttons center-align">
                        <button class="btn waves-effect waves-light hvr-icon-up" type="submit" name="">Submit
                            <i class="fa fa-paper-plane-o hvr-icon"></i>
                        </button>
                        <a href="{{url_for('home')}}" class="btn waves-effect waves-light red">Cancel
                        </a>
                    </div>
                    

                </div>

            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}